{{#each this}}
<h1 class="country-name">{{name}}</h1>
<div class="country-card">
    <ul class="country-menu">
        <li class="country-info"><span class="menu-word">Capital: </span>{{}}</li>
        <li class="country-info"><span class="menu-word">Population: </span>{{}}</li>
        <li class="country-info"><span class="menu-word">Languages: </span>{{}}

            {{!-- зробити список у списку --}}
            {{#each інше}}
            <ul class="contry-lengs">
                <li class="contry-leng-item">{{}}</li>
            </ul>
            {{/each}}
        </li>
    </ul>

    <img class="cuntry-flag" src="{{}}" alt="{{}} flag">
</div>

{{/each}}